<!DOCTYPE html>
<html>
<head>
  <title>人员座标收集 Map</title>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
  <script src="http://api.map.baidu.com/api?v=1.4" type="text/javascript"></script>
  <script src="static/map.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Convergence|Bitter|Droid+Sans|Ubuntu+Mono' rel='stylesheet' type='text/css' />
  <script type="text/javascript">
  </script>
  <style type="text/css" media="screen">
    #map {
      position:absolute;
      top: 0; bottom: 0; left: 0; right: 0;
    }
  </style>
</head>
<body>
  <p>Loading...</p>
  <div id="map"></div>
</body>
</html>
